html {
  background-color: rgb(0, 29, 29);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  font-family: inherit;
  font-size: inherit;
  box-sizing: inherit;
}

/* =============== SCREEN ============ */
.screen {
  background-color: rgb(233, 255, 215);
  width: 200px;
  height: 50px;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
